<%= form_with(model: [@habit, habit_entry]) do |form| %>
  <% if habit_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(habit_entry.errors.count, "error") %> prohibited this habit_entry from being saved:</h2>

      <ul>
        <% habit_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.date_field :date %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, HabitEntry.statuses.keys %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
