<% content_for :title, "Habit entries" %>

<h1>Habit entries</h1>

<% if notice.present? %>
  <div class="rounded-md bg-green-50 p-4 mb-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= heroicon "check-circle", class: "h-5 w-5 text-green-400" %>
      </div>
      <div class="ml-3">
        <p class="text-sm font-medium text-green-800"><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div id="habit_entries">
  <% @habit_entries.each do |habit_entry| %>
    <%= render habit_entry %>
    <p>
      <%= link_to "Show this habit entry", [@habit, habit_entry] %>
    </p>
  <% end %>
</div>

<%= link_to "New habit entry", [:new, @habit, :habit_entry] %>
