<p style="color: green"><%= notice %></p>

<%= render @habit_entry %>

<div>
  <%= link_to "Edit this habit entry", [:edit, @habit, @habit_entry] %> |
  <%= link_to "Back to habit entries", [@habit, :habit_entries] %>

  <%= button_to "Remove habit entry", [:habit, @habit_entry], method: :delete %>
</div>
