<div class="session__container">
    <h1>Forgot your password?</h1>


    <% if flash[:alert] %>
    <%= render "shared/notice", status: "error", title: "Error" do %>
    <%= flash[:alert] %>
    <% end %>
    <% end %>

    <%= form_with url: passwords_path, class: "form session__form--withBackground" do |form| %>
    <div class="form__field session__formField">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
    </div>
    <%= form.submit "Email reset instructions", class: "button session__submitButton" %>
    <% end %>
    <br>

    <%= link_to "Sign in", new_session_path, class: "session__link" %>
</div>