<%= form_with(model: habit, class: "form") do |form| %>
  <% if habit.errors.any? %>
    <%= render "shared/notice",
      title: pluralize(habit.errors.count, "error") + " prohibited this habit from being saved:",
      status: "error" do %>
      <ul>
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <div class="form__field">
    <%= form.label :name %>
    <%= form.text_field :name, 
        placeholder: "Enter habit name" %>
  </div>

  <div>
    <%= form.submit "Save Habit", class: "button" %>
  </div>
<% end %>
