<div id="<%= dom_id habit %>">
    <b><%= habit.name %></b>
    <div class="week-entries">
        <% habit.entries_for_current_week.each do |entry| %>
            <div class="entry" style="display: flex; gap: 8px">
                <div class="date"><%= entry.date.strftime("%a")[0..1] %></div>
                <% if entry.persisted? %>
                    <%= button_to entry.status, 
                        cycle_status_habit_habit_entry_path(habit, entry), 
                        method: :patch,
                        class: "hover:underline bg-transparent border-0 p-0 text-left" %>
                <% else %>
                    <%= button_to "pending", 
                        create_and_cycle_habit_habit_entries_path(habit, date: entry.date),
                        method: :post,
                        class: "hover:underline bg-transparent border-0 p-0 text-left text-gray-500" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
