<div id="<%= dom_id habit %>" class="habit">
    <%= link_to habit_path(habit), class: "habit__nameLink" do %>
        <h2 class="habit__name">
            <%= habit.name %>
        </h2>
    <% end %>
    <div class="habit__entries">
        <% habit.entries_for_current_week.each do |entry| %>    
            <div>
            <% icon, color = entry_status_icon_and_color(entry) %>
                <% if entry.persisted? %>
                    <%= button_to cycle_status_habit_habit_entry_path(habit, entry), 
                        method: :patch,
                        class: "habit__entryButton habit__entryButton--#{color}" do %>
                        <% if icon %>
                            <%= heroicon icon, type: :outline, class: "habit__entryButtonIcon #{color}" %>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= button_to create_and_cycle_habit_habit_entries_path(habit, date: entry.date),
                        method: :post,
                        class: "habit__entryButton habit__entryButton--#{color}" do %>
                    <% end %>
                <% end %>
                <div class="habit__entryDay <%= "habit__entryDay--#{color}" %>">
                    <%= entry.date.strftime("%a")[0..1] %>
                </div>
            </div>
        <% end %>
    </div>
</div>
