<% if notice.present? %>
  <%= render "shared/notice", status: "success", title: notice %>
<% end %>

<%= render @habit %>

<div>
  <%= link_to "Edit this habit", edit_habit_path(@habit) %> |
  <%= link_to "Back to habits", habits_path %>

  <%= button_to "Remove habit", @habit, method: :delete %>
</div>
