<% if notice.present? %>
  <%= render "shared/notice", status: "success", title: notice %>
<% end %>

<%= render @habit do %>
  <div class="habits__linkGroup">
    <%= link_to "Edit this habit", edit_habit_path(@habit) %> |
    <%= button_to "Remove habit", @habit, method: :delete, data: { turbo_confirm: "Are you sure you want to remove this habit?" } %> |
    <%= link_to "Back to habits", habits_path %>
  </div>
</div>
<% end %>
